html {
    background-color: #001D66;
}

h1 {
    color : white;
}

#ul_top_hypers li {
    float: right;
}
h2 {
    color : white;

}
h2, form {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

ul {
    color: #333333 ;
}

li {
    display: inline-block;
}

.button {
    text-decoration: none; /*enleve les liens*/

    background-color: #863333 ;
    color: #333333 ;
    padding: 5px ;
    margin: 10px ;
    list-style-type: none;
    justify-content: space-around ;
}

ul a:hover {
    color: #FFF;
}

.button {

    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}



.section {
    background-color : white;
    margin-left: auto;
    margin-right: auto;
    display: flex;


    max-width: 400px;

}

p {
    width: 500px;
    color: #EEEEEE;
}

.button1 {
    text-decoration: none;
    color: #EEEEEE;
}

.topic {
    background-color: aliceblue;
    margin-bottom: 10px;
    display: flex;
    display: grid ;


}

.information {

    margin-left: auto;
    margin-right: auto;

}

.ttopic {

    margin-left: auto;
    margin-right: auto;
}